body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #eef1f7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "montserrat";
}

.flex, .paymentMethods > form > button, .paymentMethods > form, .paymentMethods, .summary > .mainOfSummary > div > ul li span, .summary > .mainOfSummary > div > ul li, .summary, .type-of-package > ul > li,
.type-of-service > ul > li, .type-of-package,
.type-of-service, .type-of > ul > li, .distance, .hwd, .deliveryService, .explain, .costCalculator, .main {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "vazie";
  src: url("../fonts/vazir.eot");
  src: url("../fonts/vazir.ttf") format("truetype"), url("../fonts/vazir.woff2") format("woff2"), url("../fonts/vazir.woff") format("woff");
}
.main {
  width: 100%;
}

.costCalculator {
  width: 90%;
  height: 90%;
  flex-wrap: wrap;
}

.explain {
  width: 100%;
  flex-wrap: wrap;
  margin: 45px 0;
}
.explain > h2 {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  color: rgb(58, 58, 58);
  font-weight: 600;
  margin-top: 15px;
}

.deliveryService {
  min-width: 320px;
  width: 45%;
  background-color: white;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 30px;
  border-radius: 5px;
  padding: 20px 0;
}
.deliveryService > h4 {
  width: 80%;
  margin: 10px;
}

.mainOfDelivery {
  width: 80%;
}

.active {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.438);
  background-color: white;
  border-radius: 4px;
}
.active > svg {
  color: green;
}

.hwd {
  justify-content: start;
  flex-wrap: wrap;
}
.hwd > span {
  font-size: 0.6rem;
  color: black;
  margin: 10px;
  text-transform: capitalize;
  font-weight: bold;
}
.hwd > span:nth-of-type(1) {
  position: relative;
}
.hwd > span:nth-of-type(1)::before {
  content: "*";
  width: 10px;
  height: 10px;
  color: red;
  position: absolute;
  top: 0;
  right: -12px;
}
.hwd > input {
  width: 90%;
  height: 30px;
  padding-left: 15px;
  margin: 0 10px;
  outline: none;
  border: 1px solid rgba(187, 187, 187, 0.7411764706);
  border-radius: 5px;
  position: relative;
}
.hwd > input:focus {
  border: 1px solid green;
}
.hwd > span:nth-of-type(2) {
  font-size: 0.5rem;
  color: rgba(105, 105, 105, 0.7411764706);
}

.distance {
  width: 100%;
  margin: 40px 0;
  flex-wrap: wrap;
}
.distance > input {
  width: 100%;
  cursor: grab;
}
.distance > span {
  display: block;
  width: 50%;
  font-size: 0.7rem;
  font-weight: bold;
}
.distance > span:nth-of-type(2),
.distance > span:nth-of-type(4) {
  text-align: right;
}
.distance > span:nth-of-type(3),
.distance > span:nth-of-type(4) {
  font-weight: normal;
}

.type-of {
  width: 100%;
  margin-top: 30px;
}
.type-of > h4 {
  margin: 10px;
  font-size: 0.8rem;
  font-weight: 600;
}
.type-of > ul {
  width: 100%;
  list-style-type: none;
  position: relative;
}
.type-of > ul > li {
  width: 90%;
  height: 35px;
  justify-content: start;
  border: 1px solid rgba(187, 187, 187, 0.7411764706);
  font-size: 0.75rem;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}
.type-of > ul > li > img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.type-of > ul > li > span {
  color: rgba(187, 187, 187, 0.7411764706);
  position: absolute;
  right: 10%;
}
.type-of > span {
  width: 100%;
  padding-left: 10px;
  font-size: 0.7rem;
}

.type-of-package,
.type-of-service {
  flex-wrap: wrap;
  width: 90%;
  position: absolute;
  top: 34px;
  left: 2.3%;
  background-color: white;
  z-index: 500;
}
.type-of-package > ul,
.type-of-service > ul {
  width: 100%;
  height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style-type: none;
  transition: 0.5s;
}
.type-of-package > ul > li,
.type-of-service > ul > li {
  width: 100%;
  justify-content: start;
  flex-wrap: wrap;
  padding: 8px;
  border: 1px solid rgba(187, 187, 187, 0.2745098039);
  cursor: pointer;
  font-size: 0.7rem;
}
.type-of-package > ul > li:hover,
.type-of-service > ul > li:hover {
  background-color: rgba(214, 214, 214, 0.7411764706);
}
.type-of-package > ul > li > img,
.type-of-service > ul > li > img {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.activeLi {
  height: 170px !important;
}

.summary {
  min-width: 320px;
  width: 350px;
  margin-top: 15px;
  border-radius: 5px;
}
.summary > .mainOfSummary {
  width: 90%;
  height: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.summary > .mainOfSummary > h4 {
  margin: 5px 0;
}
.summary > .mainOfSummary > div {
  width: 100%;
  list-style-type: none;
  margin: 10px 0;
}
.summary > .mainOfSummary > div > ul {
  list-style-type: none;
}
.summary > .mainOfSummary > div > ul li {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.308);
  font-size: 0.8rem;
  text-transform: capitalize;
}
.summary > .mainOfSummary > div > ul li span {
  width: 50%;
  flex-wrap: wrap;
  font-size: 0.65rem;
  font-weight: 600;
  justify-content: start;
}
.summary > .mainOfSummary > div > ul li span:nth-of-type(2) {
  justify-content: end;
}
.summary > .mainOfSummary > div > ul > li:nth-of-type(1) {
  border: none;
}
.summary > .mainOfSummary > div > ul > li:nth-of-type(1) span {
  background-color: rgba(187, 187, 187, 0.7411764706);
  font-weight: bold;
  color: rgba(20, 20, 20, 0.8352941176);
  font-size: 0.7rem;
  padding: 3px;
}
.summary > .mainOfSummary > div > ul > li:last-child {
  border-bottom: 1px solid rgba(187, 187, 187, 0.7411764706);
}
.summary > .mainOfSummary > div > ul > li:last-child > span {
  font-weight: bold;
  font-size: 0.7rem;
}
.summary > .mainOfSummary > div > ul > li:nth-of-type(3) > textarea {
  width: 50% !important;
  min-height: 40px !important;
  max-height: 100px !important;
  outline: none;
  border: none;
  overflow-y: hidden;
  background-color: transparent;
}

.paymentMethods {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.paymentMethods > h4 {
  margin: 5px;
  font-size: 0.9rem;
}
.paymentMethods > form {
  width: 100%;
  padding: 15px;
  justify-content: start;
  flex-wrap: wrap;
}
.paymentMethods > form > label {
  display: block;
  width: 30%;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  color: #666666;
}
.paymentMethods > form > input {
  cursor: pointer;
  margin: 0 3px 0 10px;
}
.paymentMethods > form > button {
  width: 100%;
  height: 30px;
  margin-top: 40px;
  outline: none;
  background-color: #4bc891;
  color: white;
  text-transform: uppercase;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
.paymentMethods > form > button:hover {
  background-color: #3ea377;
}/*# sourceMappingURL=style.css.map */